@model AddCheeseViewModel

<h2>Add a New Cheese to the CCCC Registry</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div>
        @TempData["SuccessMessage"]
    </div>
}

@using (Html.BeginForm("AddCheese", "Cheeses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
    </div>

    <div>
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description)
    </div>

    <div>
        @Html.LabelFor(x => x.Image)
        @Html.TextBoxFor(x => x.Image, new { type = "file" })
    </div>

    <div>
        <button>Add Cheese</button>
    </div>
}
